body{
background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(img/poverty1.jpg);
background-size: cover;
background-position: center;
height: 100%;
}
.myoffer3 {
display: inline;
padding:20px;
}
.myoffer4 {
 display: inline;
 padding: 0 20px;

 }
 .button-box {
  width:100%;
  text-align:center;
 }
.login-box{
  max-width: 700px;
  float: none;
  margin: 150px auto;
}
.log{
background: rgba(211,211,211,0.5);
padding: 30px;
}
.reg{
  background-color: #fff;
  padding: 30px;
}
.form-control{
  background: transparent !important;
/*!important because we are overriding the bootstrap class*/
}
a{
  color: #fff !important;
  margin-top: -200px !important;
}
.topleft{
  font-size: 20px !important;
  top: 3px;
  left: 5px;
}
.topright {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 15px;
 /* border-radius:4px !important;*/
}
.mt-2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
